LOCATE COMP "clk_i" SITE "P6";
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

LOCATE COMP "led_o" SITE "T6";

IOBUF PORT "led_o" IO_TYPE=LVCMOS25;

LOCATE COMP "J1_0" SITE "C4";
IOBUF PORT "J1_0" IO_TYPE=LVCMOS33;

LOCATE COMP "J1_1" SITE "D4";
IOBUF PORT "J1_1" IO_TYPE=LVCMOS33;

LOCATE COMP "J1_2" SITE "E4";
IOBUF PORT "J1_2" IO_TYPE=LVCMOS33;

LOCATE COMP "J1_3" SITE "D3";
IOBUF PORT "J1_3" IO_TYPE=LVCMOS33;

LOCATE COMP "J1_4" SITE "F5";
IOBUF PORT "J1_4" IO_TYPE=LVCMOS33;

LOCATE COMP "J1_5" SITE "E3";
IOBUF PORT "J1_5" IO_TYPE=LVCMOS33;

LOCATE COMP "J2_0" SITE "F1";
IOBUF PORT "J2_0" IO_TYPE=LVCMOS33;

LOCATE COMP "J2_1" SITE "F2";
IOBUF PORT "J2_1" IO_TYPE=LVCMOS33;

LOCATE COMP "J2_2" SITE "G2";
IOBUF PORT "J2_2" IO_TYPE=LVCMOS33;

LOCATE COMP "J2_3" SITE "G1";
IOBUF PORT "J2_3" IO_TYPE=LVCMOS33;

LOCATE COMP "J2_4" SITE "H2";
IOBUF PORT "J2_4" IO_TYPE=LVCMOS33;

LOCATE COMP "J2_5" SITE "H3";
IOBUF PORT "J2_5" IO_TYPE=LVCMOS33;

LOCATE COMP "J3_0" SITE "B1";
IOBUF PORT "J3_0" IO_TYPE=LVCMOS33;

LOCATE COMP "J3_1" SITE "C2";
IOBUF PORT "J3_1" IO_TYPE=LVCMOS33;

LOCATE COMP "J3_2" SITE "C1";
IOBUF PORT "J3_2" IO_TYPE=LVCMOS33;

LOCATE COMP "J3_3" SITE "D1";
IOBUF PORT "J3_3" IO_TYPE=LVCMOS33;

LOCATE COMP "J3_4" SITE "E2";
IOBUF PORT "J3_4" IO_TYPE=LVCMOS33;

LOCATE COMP "J3_5" SITE "E1";
IOBUF PORT "J3_5" IO_TYPE=LVCMOS33;

LOCATE COMP "J4_0" SITE "P5";
IOBUF PORT "J4_0" IO_TYPE=LVCMOS33;

LOCATE COMP "J4_1" SITE "R3";
IOBUF PORT "J4_1" IO_TYPE=LVCMOS33;

LOCATE COMP "J4_2" SITE "P2";
IOBUF PORT "J4_2" IO_TYPE=LVCMOS33;

LOCATE COMP "J4_3" SITE "R2";
IOBUF PORT "J4_3" IO_TYPE=LVCMOS33;

LOCATE COMP "J4_4" SITE "T2";
IOBUF PORT "J4_4" IO_TYPE=LVCMOS33;

LOCATE COMP "J4_5" SITE "N6";
IOBUF PORT "J4_5" IO_TYPE=LVCMOS33;

LOCATE COMP "J5_0" SITE "T13";
IOBUF PORT "J5_0" IO_TYPE=LVCMOS33;

LOCATE COMP "J5_1" SITE "R12";
IOBUF PORT "J5_1" IO_TYPE=LVCMOS33;

LOCATE COMP "J5_2" SITE "R13";
IOBUF PORT "J5_2" IO_TYPE=LVCMOS33;

LOCATE COMP "J5_3" SITE "R14";
IOBUF PORT "J5_3" IO_TYPE=LVCMOS33;

LOCATE COMP "J5_4" SITE "T14";
IOBUF PORT "J5_4" IO_TYPE=LVCMOS33;

LOCATE COMP "J5_5" SITE "P12";
IOBUF PORT "J5_5" IO_TYPE=LVCMOS33;

LOCATE COMP "J6_0" SITE "R15";
IOBUF PORT "J6_0" IO_TYPE=LVCMOS33;

LOCATE COMP "J6_1" SITE "T15";
IOBUF PORT "J6_1" IO_TYPE=LVCMOS33;

LOCATE COMP "J6_2" SITE "P13";
IOBUF PORT "J6_2" IO_TYPE=LVCMOS33;

LOCATE COMP "J6_3" SITE "P14";
IOBUF PORT "J6_3" IO_TYPE=LVCMOS33;

LOCATE COMP "J6_4" SITE "N14";
IOBUF PORT "J6_4" IO_TYPE=LVCMOS33;

LOCATE COMP "J6_5" SITE "H15";
IOBUF PORT "J6_5" IO_TYPE=LVCMOS33;

LOCATE COMP "J7_0" SITE "G16";
IOBUF PORT "J7_0" IO_TYPE=LVCMOS33;

LOCATE COMP "J7_1" SITE "H14";
IOBUF PORT "J7_1" IO_TYPE=LVCMOS33;

LOCATE COMP "J7_2" SITE "G15";
IOBUF PORT "J7_2" IO_TYPE=LVCMOS33;

LOCATE COMP "J7_3" SITE "F15";
IOBUF PORT "J7_3" IO_TYPE=LVCMOS33;

LOCATE COMP "J7_4" SITE "F16";
IOBUF PORT "J7_4" IO_TYPE=LVCMOS33;

LOCATE COMP "J7_5" SITE "E16";
IOBUF PORT "J7_5" IO_TYPE=LVCMOS33;

LOCATE COMP "J8_0" SITE "D16";
IOBUF PORT "J8_0" IO_TYPE=LVCMOS33;

LOCATE COMP "J8_1" SITE "E15";
IOBUF PORT "J8_1" IO_TYPE=LVCMOS33;

LOCATE COMP "J8_2" SITE "C16";
IOBUF PORT "J8_2" IO_TYPE=LVCMOS33;

LOCATE COMP "J8_3" SITE "B16";
IOBUF PORT "J8_3" IO_TYPE=LVCMOS33;

LOCATE COMP "J8_4" SITE "C15";
IOBUF PORT "J8_4" IO_TYPE=LVCMOS33;

LOCATE COMP "J8_5" SITE "B15";
IOBUF PORT "J8_5" IO_TYPE=LVCMOS33;
